<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link href="./resources/css/bootstrap.min.css" rel="stylesheet">
<script src="./resources/jquery/jquery.js"></script>
<script src="./resources/js/bootstrap.min.js"></script>

<style>
	header{ height: 100px; background-color: rgba(125, 211, 242, 0.5);
			border-radius: 15px; padding: 10px; margin: 10px 0;
			font-family: 'Nanum Gothic', sans-serif; text-align: center;	
	}
	footer{
		font-family: 'Nanum Gothic', sans-serif; text-align: center;
	}
	ul.nav{
		background-color: rgba(201, 201, 201, 0.5); padding: 10px; border-radius: 10px;
	}
</style>

<title>3주차 과제</title>
</head>
<body>

	<div class="jumbotron">
		<div class="container" style="text-align: center;">
				창의융합 인재양성 특성화 대학
				<h2>협성대학교</h2>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<ul class="nav">
					<li>학교소개</li>
					<li>학과소개</li>
					<li>캠퍼스안내</li>
					<li>찾아오는길</li>
				</ul>
			</div>
			
		
			<div class="col-md-9 cont">
				<div class="row">
					<div class="col-md-7">
						<p>
							1.스마트시스템소프트웨어공학과에서는(본인은 컴퓨터 공학과임) 체계화된 교과과정을 통해 선도하는 웨슬리형 인재 양성을 목표로 한다.
							...이하 내용 생략...
						</p>
					</div>
					<div class="col-md-5">
						<p>
							2.이공관은 2012년 완공된 건물. 캠퍼스내에서 제일 높은 건물로 실제 건물 층수는 10층이다.
							...이하 내용 생략...
						</p>
					</div>
				</div>				
			</div>		
		</div>
		
		<hr>
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					
				</div>		
				<div class="col-md-9 cont">
					<div class="row">
						<div class="col-md-3">
							<p>
								3.스마트시스템소프트웨어공학과에서는(본인은 컴퓨터 공학과임) 체계화된 교과과정을 통해 선도하는 웨슬리형 인재 양성을 목표로 한다.
								...이하 내용 생략...
							</p>
						</div>
						<div class="col-md-3">
							<p>
								4.이공관은 2012년 완공된 건물. 캠퍼스내에서 제일 높은 건물로 실제 건물 층수는 10층이다.
								...이하 내용 생략...
							</p>
						</div>
						<div class="col-md-3">
							<p>
								5.스마트시스템소프트웨어공학과에서는(본인은 컴퓨터 공학과임) 체계화된 교과과정을 통해 선도하는 웨슬리형 인재 양성을 목표로 한다.
								...이하 내용 생략...
							</p>
						</div>
						<div class="col-md-3">
							<p>
								6.이공관은 2012년 완공된 건물. 캠퍼스내에서 제일 높은 건물로 실제 건물 층수는 10층이다.
								...이하 내용 생략...
							</p>
						</div>
					</div>				
				</div>
			</div>
			
		</div>	
	</div>
	<hr><footer> 여기는 푸터가 들어가는 곳입니다.</footer>
</body>
</html>